<style>
    h1 {
        font-weight: 600;
        color: blueviolet;
    }
</style>

<h1>Skills.</h1>
<h2>Programming Languages</h2>
<ul>
    <li><h3>C#</h3></li>
    <li><h3>JavaScript</h3></li>
    <li><h3>Python</h3></li>
</ul>
<br />
<h2>Frameworks</h2>
<ul>
    <li><h3>ASP.NET MVC</h3></li>
    <li><h3>Express.JS - Node.JS</h3></li>
    <li><h3>Bootstrap</h3></li>
    <li><h3>React.JS</h3></li>
</ul>
