
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
</head>
<body>
    <div>
        <h1>This is the Homepage</h1>
        <h2>@ViewBag.StringFromData</h2>
    </div>
</body>
</html>
